xml/config.xsd

<?xml version="1-0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="XMLConfig">
		<xs:complexType>
			<xs:attribute name="port" type="xs:string"/>
			<xs:attribute name="username" type="xs:string"/>
			<xs:attribute name="password" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
